/* -- Custom Properties -- */
:root {
  --auto-grid-min-size: 20vmin;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: calc(1rem + 0.5vmin);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- Utility classes -- */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  max-width: 90%;
  margin: 0 auto 3rem;

  padding: 0 5vmin;
}

/* -- Styling -- */
body {
  margin: 0;
}

h1 {
  margin-left: 10%;
}

.cp_embed_wrapper {
  position: relative;
  /* required for resize to work */
  overflow: hidden;

  /* make resizeble! */
  resize: both;

  /* required to see the handle */
  background: white;
  padding-bottom: 10px;

  /* default height */
  height: 28rem;
  width: 22rem;
}

.cp_embed_wrapper h2 {
  text-align: right;
  padding-right: 1ch;
  border: 1px solid black;
  box-shadow: 0 0.2em 0.1em #eee;
}
