@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;

  margin-top: -200px;
  margin-left: -200px;

  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);

  background: #3faf82;

  font-family: "Open Sans", Helvetica, sans-serif;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;

  min-height: fit-content;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.ham-icon,
.ham-icon::before,
.ham-icon::after {
  position: absolute;

  height: 0.75rem;

  background-image: linear-gradient(to right, white, white);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.ham-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;

  transform: translate(-50%, -50%);
  cursor: pointer;
}

.ham-icon::before,
.ham-icon::after {
  content: "";
  position: absolute;

  width: 100%;

  transition-property: top, bottom, transform, background-image;
  transition-duration: 1s, 1s, 0.5s, 2s;
  transition-timing-function: ease;
  transition-delay: 0s, 0s, 0.5s, 2s;
}

.ham-icon::before {
  left: 0;
  top: -200%;
}

.ham-icon::after {
  left: 0;
  bottom: -200%;
}

/* Animation on Focus
   - doesn't quite match the challenge,
     close as I could get
 */
nav:focus .ham-icon {
  background-image: none;
  box-shadow: none;
}

/* using 135deg gives it a bounce
   (from a Gary Simon, Traversy Media
    tutorial)
 */
nav:focus .ham-icon::before {
  top: 0;
  transform: rotate(135deg);
}

nav:focus .ham-icon::after {
  bottom: 0;
  transform: rotate(-135deg);
}
